.contact-section {
  padding: 18px 0 12px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 50px 0 40px 0;
  }

  @media screen and (min-width: $bp-laptop) {
    padding: 65px 0 75px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: calc(58 / 48);
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 28px;
      font-size: 80px;
      line-height: calc(88 / 80);
    }

    @media screen and (min-width: $bp-laptop) {
      margin-bottom: 48px;
      font-size: 140px;
      line-height: calc(154 / 140);
    }
  }

  &__link {
    padding: 24px 54px;
    color: var(--primary-light-color);
    background-color: var(--primary-dark-color);
    border-radius: 144px;

    &:hover {
      background-color: #343434;
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 18px 30px;
    }

    @media screen and (min-width: $bp-laptop) {
      padding: 32px 54px;
    }
  }

  &__arrow {
    display: inline;
    margin-left: 8px;
  }
}
