.projects-section {
  padding: 27px 0 30px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 0 35px 0;
  }

  @media screen and (min-width: $bp-laptop) {
    padding: 72px 0 77px 0;
  }

  &__content {
    position: relative;
    display: flex;
    margin-bottom: 32px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $bp-laptop) {
      margin-bottom: 40px;
    }
  }

  &__info {
    max-width: fit-content;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;

    @media screen and (min-width: $bp-tablet) {
      max-width: 550px;
    }
  }

  &__link-wrap {
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      top: 0;
    }
  }

  &__link {
    color: var(--primary-dark-color);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__arrow {
    transform: rotate(270deg);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 43px 30px;
    }

    @media screen and (min-width: $bp-laptop) {
      gap: 48px 32px;
    }
  }

  &__item {
    display: block;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 47%;
    }
  }

  &__image {
    margin-bottom: 24px;
  }

  &__caption {
    margin-bottom: 0;
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  &__desc {
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}
