html {
  height: 100%;
}

body {
  height: 100%;
  font-style: normal;
  font-family: "Labil", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
  transition: all 0.5s ease, color 0.5s ease;

  @media screen and (min-width: $bp-tablet) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}
