:root {
  --primary-light-color: #ffffff;
  --primary-dark-color: #000000;

  --accent-color-light: #c4c4c4;
  --accent-color-dark: #141414;
  --button-color-light: #f9f9f9;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1280px;
